<div class="container-fluid" style="background-color: blueviolet; margin-top:0px;">
    <div class="container p-2">
        <span class="fs-3 fw-bold" style="color: white;cursor:pointer" (click)="goToHome()">
            OneForm
        </span>
        <span class="float-end pt-1">
            <button class="btn btn-outline-light rounded-pill" (click)="register()">Register</button>
            <button class="btn btn-outline-light rounded-pill ms-3" (click)="signin()">Sign In</button>
        </span>
    </div>
</div>