<div class="container mt-5">
    <div class="row">
        <div class="p-5" style="background-color: antiquewhite;margin-top:85px">
            <div>
                <span class="fw-bolder fs-1" style="text-transform:uppercase;color:chocolate">
                    Sign In
                </span>
                <div style="width: 50%;">
                    <form [formGroup]="signInForm" class="mt-5" (ngSubmit)="onSubmit()">
                        <div class="mb-4">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" formControlName="userEmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [ngClass]="{ 'is-invalid': submitted && f.userEmail.errors }">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                          <div *ngIf="f.userEmail.errors" class="invalid-feedback">
                            <div *ngIf="f.userEmail.errors.required">Email is required</div>
                            <div *ngIf="f.userEmail.errors.email">Please enter a correct email</div>
                          </div>
                        </div>
                        <div class="mb-4">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" formControlName="userPassword" class="form-control" id="exampleInputPassword1" [ngClass]="{ 'is-invalid': submitted && f.userPassword.errors }">
                          <div *ngIf="f.userPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.userPassword.errors.required">Password is required</div>
                            <div *ngIf="f.userPassword.errors.minlength">Password must be of 6 length</div>
                          </div>
                        </div>
                        <p>{{errorMessage}}</p>
                        <button type="submit" class="btn btn-primary mt-3 mb-3">Submit</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>