<div class="home">
    <div class="row text-center align-middle">
        <div style="position: absolute; top: 28%">
            <span class="p-5" style="background-color: navajowhite;opacity: 40%;display: inline-block">
                <span class="fs-2 fw-bolder" style="color: maroon;">
                    SMART ESSENTIAL DATA COLLECTION
                </span>
                <br/>
                <span class="fs-4 fw-bold" style="color: black;">
                    With OneBitForms customizable Forms, it's easy to collect valuable information from your customers quickly and free
                </span>
                <br/>
                <br/>
                <a href="#" class="btn btn-outline-primary rounded-pill px-5 fs-5" routerLink="/forms">
                    Create your form now
                </a>
            </span>
        </div>
    </div>
</div> 